<div class="design-system-layout">
    <div class="design-system-page-side-menu">
        <nav class="menu">
            {% if slots.menu is defined %}
                {{ slots.menu }}
            {% else %}
                <ul>
                    <li class="menu-item">
                        <a href="{{ path('home_index') }}"><span class="icon">⋮</span>{{ 'front.pages.home.index::page_title' | trans }}</a>
                    </li>
                </ul>
                <div class="menu-separator">
                    {{ 'WexampleSymfonyDesignSystemBundle.layouts.design_system.layout::menu.components.title' | trans }}
                </div>
                <ul>
                    {% for route_name, route in route_get_controller_routes('App\\Controller\\Config\\DesignSystem\\AppController') %}
                        <li class="menu-item">
                            <a href="{{ path(route_name) }}"><span class="icon">⋮</span>{{ (translation_build_domain_from_template_path(page_translation_path_from_route(route_name)) ~ '::page_title') | trans }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </nav>
    </div>
    <div class="design-system-page-content">
        {{ page_content }}
    </div>
</div>
