<div {{ component_render_tag_attributes({class:'form--group'}) }}>
    <label class="form--label" for="{{ id }}">{{ label }}</label>
    <input
        class="form--input"
        id="{{ id }}"
        type="{{ type|default('password') }}"
        {% if name is defined %}name="{{ name }}"{% endif %}
        {% if required is defined and required %}required{% endif %}
        {% if value is defined and value_attr is not defined %}value="{{ value }}"{% endif %}
        {% if value_attr is defined %}{{ value_attr|raw }}{% endif %}
        {% if input_attr is defined %}{{ input_attr|raw }}{% endif %}
        {% if placeholder is defined %}placeholder="{{ placeholder }}"{% endif %}
    >
</div>
