<div {{ component_render_tag_attributes({class:'form--group'}) }}>
    <label class="form--label" for="{{ id }}">{{ label }}</label>
    <div class="form--input-control">
        <input
            class="form--input form--input-password"
            id="{{ id }}"
            type="{{ type|default('password') }}"
            {% if name is defined %}name="{{ name }}"{% endif %}
            {% if required is defined and required %}required{% endif %}
            {% if value is defined and value_attr is not defined %}value="{{ value }}"{% endif %}
            {% if value_attr is defined %}{{ value_attr|raw }}{% endif %}
            {% if input_attr is defined %}{{ input_attr|raw }}{% endif %}
            {% if placeholder is defined %}placeholder="{{ placeholder }}"{% endif %}
        >
        <button type="button" class="form--input-toggle" aria-label="Toggle password visibility">
            <span class="icon-show">{{ icon('ph:bold/eye') }}</span>
            <span class="icon-hide">{{ icon('ph:bold/eye-slash') }}</span>
        </button>
    </div>
</div>
