<div {{ component_render_tag_attributes({class:'form--group'}) }}>
    <label class="form--label" for="{{ id }}">{{ label }}</label>
    <select
        class="form--input"
        id="{{ id }}"
        {% if name is defined %}name="{{ name }}"{% endif %}
        {% if required is defined and required %}required{% endif %}
        {% if multiple is defined and multiple %}multiple{% endif %}
    >
        {% if placeholder is defined and placeholder is not same as(false) and placeholder is not null %}
            <option value="">{{ placeholder }}</option>
        {% endif %}

        {% for choice in choices %}
            {% if choice.options is defined %}
                <optgroup label="{{ choice.label }}">
                    {% for option in choice.options %}
                        <option
                            value="{{ option.value }}"
                            {% if selected is iterable and option.value in selected %}selected{% elseif selected is not iterable and option.value == selected %}selected{% endif %}
                        >{{ option.label }}</option>
                    {% endfor %}
                </optgroup>
            {% else %}
                <option
                    value="{{ choice.value }}"
                    {% if selected is iterable and choice.value in selected %}selected{% elseif selected is not iterable and choice.value == selected %}selected{% endif %}
                >{{ choice.label }}</option>
            {% endif %}
        {% endfor %}
    </select>
</div>
