<div {{ component_render_tag_attributes({class:'form--group'}) }}>
    <label class="form--label" for="{{ id }}">{{ label }}</label>
    <textarea
        class="form--input"
        id="{{ id }}"
        {% if name is defined %}name="{{ name }}"{% endif %}
        {% if required is defined and required %}required{% endif %}
        {% if input_attr is defined %}{{ input_attr|raw }}{% endif %}
        {% if placeholder is defined %}placeholder="{{ placeholder }}"{% endif %}
        {% if rows is defined and rows %}rows="{{ rows }}"{% endif %}
    >{% if value is defined %}{{ value }}{% endif %}</textarea>
</div>
