<h1>{{ '@page::page_title' | trans }}</h1>
<p>
    {{ '@page::body' | trans }}
</p>
<h2>{{ '@page::title.horizontal.left' | trans }}</h2>
<div class="side-body--horizontal">
    <div>
        SIDE ONE
    </div>
    <div>
        SIDE TWO
    </div>
    <div class="side-body--body">
        BODY
    </div>
</div>
<h2>{{ '@page::title.horizontal.right' | trans }}</h2>
<div class="side-body--horizontal">
    <div class="side-body--body">
        BODY
    </div>
    <div>
        SIDE ONE
    </div>
    <div>
        SIDE TWO
    </div>
</div>
<h2>{{ '@page::title.horizontal.both' | trans }}</h2>
<div class="side-body--horizontal">
    <div>
        SIDE ONE
    </div>
    <div>
        SIDE TWO
    </div>
    <div class="side-body--body">
        BODY
    </div>
    <div>
        SIDE THREE
    </div>
    <div>
        SIDE FOUR
    </div>
</div>

<h2>{{ '@page::title.vertical.top' | trans }}</h2>
<div class="side-body--vertical">
    <div>
        HEADER
    </div>
    <div class="side-body--body">
        BODY
    </div>
</div>

<h2>{{ '@page::title.vertical.bottom' | trans }}</h2>
<div class="side-body--vertical">
    <div class="side-body--body">
        BODY
    </div>
    <div>
        FOOTER
    </div>
</div>

<h2>{{ '@page::title.vertical.both' | trans }}</h2>
<div class="side-body--vertical">
    <div>
        HEADER
    </div>
    <div class="side-body--body">
        BODY
    </div>
    <div>
        FOOTER
    </div>
</div>